<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>
        Lista de sitios
        <a class="btn" data-toggle="modal" data-target="#add">
            <fa-icon [icon]="['fas','plus-circle']" size="lg"></fa-icon>
        </a>
      </h2>
      <ul class="list-group">
        <ng-container *ngFor="let place of places">
          <li [ngSwitch]="place.closeness" 
            [highlight]="place.plan" 
            [count-visitors]="place" 
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            {{place.name}}
            <span *ngSwitchCase="1" class="badge badge-success badge-pill">Muy cercano</span>
            <span *ngSwitchCase="2" class="badge badge-warning badge-pill">Cercano</span>
            <span *ngSwitchCase="3" class="badge badge-danger badge-pill">Lejano</span>
          </li>
        </ng-container>
        <li *ngIf="!places.length" class="list-group-item d-flex justify-content-between align-items-center">
          No existen lugares...
        </li>
      </ul>
    </div>
    <div class="col">
      <h2>Destacados</h2>
      <ul class="list-group">
          <ng-container *ngFor="let place of places">
            <li [ngSwitch]="place.closeness" 
              [highlight]="place.plan" 
              [count-visitors]="place"
              *ngIf="place.favorite"
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              {{place.name}}
              <span *ngSwitchCase="1" class="badge badge-success badge-pill">Muy cercano</span>
              <span *ngSwitchCase="2" class="badge badge-warning badge-pill">Cercano</span>
              <span *ngSwitchCase="3" class="badge badge-danger badge-pill">Lejano</span>
            </li>
          </ng-container>
          <li *ngIf="!favoritePlacesAviable()" class="list-group-item d-flex justify-content-between align-items-center">
            No existen destacados...
          </li>
        </ul>
    </div>
  </div>
</div>
<app-add-place-modal [place]=""></app-add-place-modal>